xset r rate 200 40
setxkbmap -option caps:escape
xsetroot -solid "#111111"

# xrandr --output Virtual1 --mode 1920x1080 # set desired output this example is for virtualbox, it's commented out since it may need be needed by default
